<section id="about-us" class="section about-container">
  <div class="container">
    <div class="about-block-text">
      <h2 class="about-title">About Us</h2>
      <p class="about-text">
        The store "Vyshyvanka Vibes" is a place where traditional
        Ukrainian vyshyvanka comes to life with new zest and style. Our
        store offers a wide selection of high-quality and authentic
        embroidery, which combines the elegance of traditional needlework
        and modern design.
      </p>
      <p class="about-text">
        In "Vyshyvanka Vibes" you will find various models of embroidery,
        from classic to modern, corresponding to the latest fashion
        trends. Our embroidery is made using natural fabrics and is
        embroidered by highly qualified craftsmen who convey the beauty of
        Ukrainian culture in every detail.We believe that vyshyvanka is
        not just clothing, but a symbol of national pride, the heritage of
        our ancestors and a way of expressing one's individuality. Each
        embroidery from "Vyshyvanka Vibes" has its own unique history and
        symbolism, which gives it a special meaning.
      </p>
    </div>
    <img
      srcset="
      ./img/about/about-large-desktop.jpg     709w,
      ./img/about/about-large-desktop@2x.jpg 1418w,
      ./img/about/about-desktop.jpg           594w,
      ./img/about/about-desktop@2x.jpg       1188w,
      ./img/about/about-tablet.jpg            704w,
      ./img/about/about-tablet@2x.jpg        1408w,
      ./img/about/about-mobile.jpg            335w,
      ./img/about/about-mobile@2x.jpg         670w
      "
      sizes="(min-width:1440px) 709px, (min-width:1280px) 594px, (min-width:768px) 704px, (min-width:375px) 335px"
      src="./img/about/about-mobile.jpg"
      alt="Girl and boy"
      loading="lazy"
      data-aos="fade-up-left"
    />
    <div class="bg-about"></div>
  </div>
</section>
