<section class="section hero-section">
  <div class="container hero-container">
    <img
      class="hero-girl"
      srcset="
        ./img/hero/girl-desktop.jpg    392w,
        ./img/hero/girl-desktop@2x.jpg 784w,
        ./img/hero/girl-tablet.jpg     413w,
        ./img/hero/girl-tablet@2x.jpg  826w,
        ./img/hero/girl-mobile.jpg     335w,
        ./img/hero/girl-mobile.jpg     670w
      "
      sizes="(min-width:1280px) 392px, (min-width: 768px) 413px, (min-width: 375px) 335px"
      src="./img/hero/girl.jpg"
      alt="girl with vyshyvanka"
      data-aos="fade-left"
    />

    <div class="hero-title-container">
      <h1 class="hero-title" data-aos="flip-up">
        Reviving the traditional
        <span class="yellow-word">Ukrainian</span> artistry in every stitch.
      </h1>
      <a href="#your-order" class="hero-order-service-link"
        >Order
        <svg class="icon-arrow" width="26" height="17">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>

    <div class="icon-star-container">
      <svg class="icon-star" width="52" height="51">
        <use href="./img/icons.svg#icon-star"></use>
      </svg>
      <p class="icon-star-text">all embroidery is made by hand</p>
    </div>

    <img
      class="hero-ukraine-map"
      srcset="
        ./img/hero/ukraine-map-desktop1440.png    139w,
        ./img/hero/ukraine-map-desktop1440@2x.png 278w,
        ./img/hero/ukraine-map-desktop1280.png    142w,
        ./img/hero/ukraine-map-desktop1280@2x.png 284w,
        ./img/hero/ukraine-map-tablet.png         157w,
        ./img/hero/ukraine-map-tablet@2x.png      314w
      "
      sizes="(min-width:1440px) 139px, (min-width:1280px) 142px, (min-width: 768px) 157px"
      src="./img/hero/ukraine-map.png"
      alt="ukraine map"
    />
  </div>
</section>
