<section class="section-collection">
  <div class="background-image"></div>
  <div class="container our-collection">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list-card">
      <li class="collection-card">
        <img class="collection-img"
        srcset="../img/desktop1440/August-Poltava.jpg 400w,
        ../img/desktop1440/August-Poltava@2x.jpg 800w,
        ../img/desktop1280/August-Poltava.jpg 347w,
        ../img/desktop1280/August-Poltava@2x.jpg 694w, 
        ../img/tablet/August-Poltava.jpg 342w,
        ../img/tablet/August-Poltava@2x.jpg 684w,
        ../img/mobile/August-Poltava.jpg 335w,
        ../img/mobile/August-Poltava2x.jpg 670w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
        src="../img/mobile/August-Poltava.jpg"
        alt="august-poltava-women's-blousering"> 
      <div class="container-card">
        <h3 class="card-title">August Poltava women's blousering</h3>
        <p class="card-text">3300 UAH</p>
      </div>
    </li>
      <li class="collection-card">
        <img class="collection-img"
        srcset="../img/desktop1440/Gorgany.jpg 400w,
        ../img/desktop1440/Gorgany@2x.jpg 800w,
        ../img/desktop1280/Gorgany.jpg 347w,
        ../img/desktop1280/Gorgany@2x.jpg 694w, 
        ../img/tablet/Gorgany.jpg 342w,
        ../img/tablet/Gorgany@2x.jpg 684w,
        ../img/mobile/Gorgany.jpg 335w,
        ../img/mobile/Gorgany@2x.jpg 670w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
        src="../img/mobile/Gorgany.jpg"
        alt="women's-blouse-gorgany"> 
      <div class="container-card">
        <h3 class="card-title">Women's blouse Gorgany</h3>
        <p class="card-text">3350 UAH</p>
      </div>
    </li>
      <li class="collection-card">
        <img class="collection-img"
        srcset="../img/desktop1440/Crimea.jpg 400w,
        ../img/desktop1440/Crimea@2x.jpg 800w,
        ../img/desktop1280/Crimea.jpg 347w,
        ../img/desktop1280/Crimea@2x.jpg 694w, 
        ../img/tablet/Crimea.jpg 342w,
        ../img/tablet/Crimea@2x.jpg 684w,
        ../img/mobile/Crimea.jpg 335w,
        ../img/mobile/Crimea@2x.jpg 670w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
        src="../img/mobile/Crimea.jpg"
        alt="Women's-blouse-crimea"> 
      <div class="container-card">
        <h3 class="card-title">Women's blouse Crimea</h3>
        <p class="card-text">4000 UAH</p>
      </div>
    </li>
      <li class="collection-card">
        <img class="collection-img"
        srcset="../img/desktop1440/Verkhovina.jpg 400w,
        ../img/desktop1440/Verkhovina@2x.jpg 800w,
        ../img/desktop1280/Verkhovina.jpg 347w,
        ../img/desktop1280/Verkhovina@2x.jpg 694w, 
        ../img/tablet/Verkhovina.jpg 342w,
        ../img/tablet/Verkhovina@2x.jpg 684w,
        ../img/mobile/Verkhovina.jpg 335w,
        ../img/mobile/Verkhovina@2x.jpg 670w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
        src="../img/mobile/Verkhovina.jpg"
        alt="men's-shirt-verkhovina"> 
      <div class="container-card">
        <h3 class="card-title">Men's shirt Verkhovina</h3>
        <p class="card-text">3100 UAH</p>
      </div>
    </li>
      <li class="collection-card">
        <img class="collection-img"
        srcset="../img/desktop1440/Mountain.jpg 400w,
        ../img/desktop1440/Mountain@2x.jpg 800w,
        ../img/desktop1280/Mountain.jpg 347w,
        ../img/desktop1280/Mountain@2x.jpg 694w, 
        ../img/tablet/Mountain.jpg 342w,
        ../img/tablet/Mountain@2x.jpg 684w,
        ../img/mobile/Mountain.jpg 335w,
        ../img/mobile/Mountain@2x.jpg 670w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
        src="../img/mobile/Mountain.jpg"
        alt="mountain-men's-shirt">
      <div class="container-card">
        <h3 class="card-title">Mountain men's shirt</h3>
        <p class="card-text">3300 UAH</p>
      </div>
    </li>
      <li class="collection-card">
        <img class="collection-img"
        srcset="../img/desktop1440/Yasen.jpg 400w,
        ../img/desktop1440/Yasen@2x.jpg 800w,
        ../img/desktop1280/Yasen.jpg 347w,
        ../img/desktop1280/Yasen@2x.jpg 694w, 
        ../img/tablet/Yasen.jpg 342w,
        ../img/tablet/Yasen@2x.jpg 684w,
        ../img/mobile/Yasen.jpg 335w,
        ../img/mobile/Yasen@2x.jpg 670w"
        sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px"
        src="../img/mobile/Yasen.jpg"
        alt="men's-shirt-yasen">
      <div class="container-card">
        <h3 class="card-title">Men's shirt Yasen</h3>
        <p class="card-text">1700 UAH</p>
      </div>
    </li>
    </ul>
  </div>
</section>
