<section class="section testimonials-section">
  <div class="container">
    <h2 class="testimonials-item">Testimonials</h2>
    <ul class="testimonials-staff">
      <li class="staff-block">
        <img
          class="testimonials-image"
          srcset="
            ./img/testimonials/maria-mobile@2x.png 2x,
            ./img/testimonials/maria-mobile.png    1x
          "
          src="/img/testimonials/maria-mobile.png"
          alt="Maria"
          width="64"
        />
        <h3 class="staff-title">Maria Tkachuk</h3>
        <p class="staff-paragraph">
          I was pleasantly surprised by the variety of embroidery offered by
          Vyshyvanka Vibes. They have models for every taste - from classic to
          modern. I bought an embroidered dress to celebrate a special occasion
          and received impeccable service and refinement in every detail.
        </p>
      </li>

      <li class="staff-block">
        <img
          class="testimonials-image"
          srcset="
            ./img/testimonials/sergey-mobile@2x.png 2x,
            ./img/testimonials/sergey-mobile.png    1x
          "
          src="/img/testimonials/sergey-mobile.png"
          alt="Sergey"
          width="64"
        />
        <h3 class="staff-title">Sergey Rybachok</h3>
        <p class="staff-paragraph">
          Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
          simply masterpieces! I fell in love with the quality of the materials
          and the skill of the artisans behind each product. This is my favorite
          embroidery shop where I always find something special and unique.
        </p>
      </li>

      <li class="staff-block">
        <img
          class="testimonials-image"
          srcset="
            ./img/testimonials/natalia-mobile@2x.png 2x,
            ./img/testimonials/natalia-mobile.png    1x
          "
          src="/img/testimonials/natalia-mobile.png"
          alt="Natalia"
          width="64"
        />
        <h3 class="staff-title">Natalia Chatuk</h3>
        <p class="staff-paragraph">
          Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
          culture. Their embroidery reflects the spirit and traditions of our
          people. I not only buy embroidered shirts for myself, but also give
          them to my friends abroad as a symbol of our beauty and national
          pride.
        </p>
      </li>
    </ul>
  </div>
</section>
