body {
  font-family: 'Manrope', sans-serif;
  color: var(--primary-text-color);
  background-color: #1c2225;
}

.container {
  padding: 0 20px;
}

.section {
  padding: 40px 0;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 335px;
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }

  .section {
    padding: 50px 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1080px;
  }

  .section {
    padding: 75px 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}
