.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-container .container {
  padding-top: 4px;
  padding-bottom: 4px;
}
.nav-list,
.address-container {
  display: none;
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container-right {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.hidden-menu {
  position: absolute;
  z-index: 999;
  width: 274px;
  height: 100%;
  top: 0;
  right: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.hidden-menu-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--accent-text-color);
  background-image: url(../img/header/background-ornament-mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.burger-close-btn {
  width: 36px;
  height: 36px;
  border: transparent;
  background-color: transparent;
}

.close-icon {
  position: relative;
}

.close-icon::after,
.close-icon::before {
  width: 24px;
  height: 2px;
  background-color: var(--secondary-text-color);
}

.close-icon::after,
.close-icon::before {
  content: '';
  position: absolute;
  left: -12px;
  top: 0;
}

.close-icon::after {
  transform: rotate(135deg);
}

.close-icon::before {
  transform: rotate(-135deg);
}
.mobile-menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-address-container {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
}
.burger-address-link {
  font-size: 12px;
  line-height: 1.17;
  font-style: normal;
  color: var(--secondary-text-color);
}

.burger-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.burger-nav-link {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.29;
  color: var(--secondary-text-color);
}
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
}
.social-media-list {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
  margin-right: 12px;
}

.social-media-list .social-media-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(252, 249, 249, 0.1);
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-list .social-media-link {
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-list .social-media-link:hover,
.social-media-list .social-media-link:focus {
  background-color: transparent;
  border-color: var(--accent-text-color);
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .navigation-bg {
    background-image: url(../img/header/background-ornament-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-bottom: 30px;
  }
  .burger-menu .icon {
    width: 44px;
    height: 30px;
  }
  .social-media-list {
    margin-right: 20px;
  }
  .hidden-menu {
    width: 380px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .navigation-bg {
    background-image: url(../img/header/background-ornament-tablet.png);
  }
  .burger-address-container {
    padding: 14px 28px;
  }
  .burger-address-link {
    font-size: 14px;
    line-height: 1.43;
  }
  .burger-close-btn {
    width: 44px;
    height: 44px;
  }
  .close-icon::after,
  .close-icon::before {
    width: 30px;
    left: -14px;
  }
  .mobile-menu-top {
    align-items: flex-start;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .navigation-bg {
    background-image: url(../img/header/background-ornament-tablet@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .header-container {
    padding-bottom: 35px;
  }
  .header-container .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .burger-menu {
    display: none;
  }
  .menu-list {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
  }
  .logo {
    margin-right: 60px;
    flex-shrink: 0;
  }
  .social-media-list {
    margin-right: 0;
  }
  .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.29;
    display: inline-block;
    padding: 17px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--accent-text-color);
  }

  .address-container {
    display: inline-block;
  }
  .address-link {
    display: inline-block;
    padding: 14px 28px;
    border-radius: 15px;
    margin-right: 20px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    font-size: 14px;
    font-style: normal;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
  }
  .address-link:hover,
  .address-link:focus {
    border-color: var(--accent-text-color);
  }
}
