

.our-collection {
    position: relative;
}

.background-image {
    position: absolute;
    top: 250px;
    left: -20px;
    width: 80px;
    height: 177px;
    background-image: url(../img/our-collection/mobile/elements.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

}

@media screen and (min-resolution: 192dpi) and (min-width: 375px),
    screen and (min-resolution: 2dppx) and (min-width: 375px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
        .background-image {
            background-image: url(../img/our-collection/mobile/elements@2x.png);
        }
    }

    @media screen and (min-width: 320px) {
        .background-image {
            top: 200px;
            left: -2px;
            width: 80px;
            height: 177px;
        }
    }

    @media screen and (min-width: 375px) and (max-width: 767px) {
        .background-image {
            top: 250px;
            left: -20px;
        }
    }

.collection-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 40px;
}

.collection-list-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.collection-card {
    border-radius: 4px;
    z-index: 999999;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.collection-card:hover .container-card,
.collection-card:hover .card-text {
    color: var(--accent-text-color);
}

.collection-card:hover {
    transform: scale(1.05);
}

.container-card {
    padding-top: 18px;
}

.card-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 8px; 
}

.card-text {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
}


@media screen and (min-width: 768px) {

    .background-image {
        top: 200px;
        left: -35px;
        width: 125px;
        height: 250px;
        background-image: url(../img/our-collection/tablet/elements.png);
    }

    @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
        .background-image {
            background-image: url(../img/our-collection/tablet/elements@2x.png);
        }
    }

    .collection-title {
        font-size: 44px;
        line-height: 1.45;
        
    }
  
    .collection-list-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
       
    }

    .collection-card {
        width: calc((100% - 20px) / 2);
    }

    .card-title {
        font-size: 18px;
        width: 345px;
        
    }

    .card-text {
        font-size: 18px;
    }

}

@media screen and (min-width: 1280px) {
    .background-image {
        top: 200px;
        left: -100px;
        width: 125px;
        height: 250px;
        background-image: url(../img/our-collection/desktop1280/elements-2.png);
    }

        .collection-list-card {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 40px 20px;
        }

        .collection-card {
            width: calc((100% - 40px) / 3);
        }

    }

    @media screen and (min-width: 1440px) {
        .background-image {
            top: 250px;
            background-image: url(../img/our-collection/desktop1440/elements-2.png);
        }

        .card-title {
            width: 100%; 
        }
    }
    @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
        .background-image {
            background-image: url(../img/our-collection/desktop1440/elements@2x-2.png);
        }
    }

