.testimonials-section {
  padding-bottom: 80px;
}
.testimonials-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testimonials-item {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 64px;
}
.staff-block {
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 54px 18px 18px 18px;
  position: relative;
}
.staff-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
}
.staff-paragraph {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  line-height: 1.37;
  font-size: 14px;
}
.staff-block:hover {
  border-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 0px 15px 7px rgba(236,217,121,0.2);
  -moz-box-shadow: 0px 0px 15px 7px rgba(236,217,121,0.2);
  box-shadow: 0px 0px 15px 7px rgba(236,217,121,0.2);
}
.staff-block:hover .staff-title {
  color: var(--accent-text-color);
}
.staff-block img {
  transition: 0.7s;
}
.staff-block:hover img {
  transform: translate(-50%, -15%);
  width: 72px;
}
.staff-block:after {
  content: "";
  position: absolute;
  left: 0;
  /* opacity: 0; */
  transform: scale(0);
  top: 85px;
  height: 1px;
  background-color: #ecd979; 
  border-radius: 2px;
  width: 100%;
  transition: transform 300ms linear;
}
.staff-block:hover:after, 
.staff-block:focus:after {
    /* opacity: 1; */
    transform: scale(1);
}
.staff-block:nth-child(2n),
.staff-block:last-of-type {
  display: none;
}

@media screen and (min-width: 768px) {
  .testimonials-section {
    padding-bottom: 100px;
  }
  .testimonials-item {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -0.03em;
  }

  .staff-block:nth-child(2n) {
    display: block;
  }

  .staff-block {
    width: calc((100% - 32px) / 2);
  }

  .testimonials-staff {
    display: flex;
    gap: 32px;
  }

  .staff-paragraph {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .testimonials-section {
    padding-bottom: 150px;
  }

  .staff-block:last-of-type {
    display: block;
  }

  .staff-block {
    width: calc((100% - 52px) / 3);
  }

  .testimonials-staff {
    column-gap: 26px;
  }
}
